@model MasterCompanyPut

<div class="container-fluid" style="padding-top: 10vh">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-lg-6">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Create @ViewBag.ControllerName</h3>
                </div>
                <div class="card-body">

                    <form asp-controller="MasterCompany" asp-action="Manage" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="@Model.MasterCompanyId" asp-for="MasterCompanyId"/>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" asp-for="@Model.Name" required>
                        </div>
                        <div class="form-group clearfix">
                            <div class="icheck-primary d-inline">
                                <label for="checkboxPrimary1">Active</label>
                                @if (Model.Active)
                                {
                                    <input type="checkbox" class="form-control" id="checkboxPrimary1" asp-for="@Model.Active" checked="checked">
                                }
                                else
                                {
                                    <input type="checkbox" class="form-control" id="checkboxPrimary1" asp-for="@Model.Active">
                                }
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Update" class="btn btn-primary"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>